@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.app {
  background-color: rgba(187, 112, 74, 0.3);
  height: fit-content;
  max-width: 900px;
  font-family: "Poppins", sans-serif;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(62, 44, 42, 0.6);
}

.avatarSection {
  height: 25rem;
  background-color: #3e2c2a;
  display: flex;
  flex-direction: column;
}
.backPic {
  height: 12rem;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

.Mainavatarsection {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  margin-top: -8rem;
}

.image {
  width: 230px;
  border: 3px solid #683832;
  border-radius: 50%;
  position: relative;
  top: -8rem;
  left: 2rem;
}

.name {
  margin-top: -6rem;
}

.Buttonwrap {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.5rem;
}

button {
  background-color: gold;
  width: 10rem;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

.btnicon {
  width: 23px;
}

.lastbtn {
  width: fit-content;
  border: 1px solid gold;
  font-size: 22px;
  color: gold;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 50%;
}

main {
  width: 100%;
  padding: 1rem;
  text-align: justify;
}

h1 {
  color: #f3903e;
  font-size: 20px;
}

p {
  color: gold;
}

.additionalSkills {
  color: goldenrod;
  font-size: 18px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7rem;
  gap: 1rem;
}

.icon {
  width: 30px;
  cursor: pointer;
}

.icon:hover,
.icon:active {
  opacity: 0.8;
}

.twittericon {
  width: 40px;
  cursor: pointer;
}

.twittericon:hover,
.twittericon:active {
  opacity: 0.8;
}
